# Created By Nitesh Sukhwani(2018MSBDA007)

# importing the required library

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

# reading the data

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

# preprocessing data

In [5]:
test.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       227
LotArea             0
Street              0
Alley            1352
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
MasVnrArea         15
ExterQual           0
ExterCond           0
Foundation          0
                 ...
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu       730
GarageType         76
GarageYrBlt        78
GarageFinish       78
GarageCars          1
GarageArea          1
GarageQual         78
GarageCond         78
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1456
Fence            1169
MiscFeature      1408
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
Length: 80, dtype: int64

Removing Columns with mazority of value as NAN and Imputing other columns with mode

In [6]:
train.drop(['Alley','MiscFeature','PoolQC','Fence','FireplaceQu'], axis=1,inplace=True)
test.drop(['Alley','MiscFeature','PoolQC','Fence','FireplaceQu'], axis=1,inplace=True)

In [7]:
lst = ['LotFrontage','GarageYrBlt',]
for i in lst:
    train[i].fillna(train[i].mode()[0], inplace=True)
    test[i].fillna(test[i].mode()[0], inplace=True)

In [8]:
train = train.fillna(0)
test = test.fillna(0)

Changing categorical value to numerical

In [9]:
train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
                  ...
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

In [10]:
c = train.columns
d = []
o = train[c[5]].dtypes
for cname in c:
    if(train[cname].dtype == o):
        d.append(cname)
        train[cname] = train[cname].astype('category')
        test[cname] = test[cname].astype('category')
        train[cname+"_cat"] = train[cname].cat.codes
        test[cname+"_cat"] = test[cname].cat.codes

In [12]:
train.drop(d, axis=1,inplace=True)
test.drop(d, axis=1,inplace=True)

In [14]:
train.dtypes

Id                     int64
MSSubClass             int64
LotFrontage          float64
LotArea                int64
OverallQual            int64
OverallCond            int64
YearBuilt              int64
YearRemodAdd           int64
MasVnrArea           float64
BsmtFinSF1             int64
BsmtFinSF2             int64
BsmtUnfSF              int64
TotalBsmtSF            int64
1stFlrSF               int64
2ndFlrSF               int64
LowQualFinSF           int64
GrLivArea              int64
BsmtFullBath           int64
BsmtHalfBath           int64
FullBath               int64
HalfBath               int64
BedroomAbvGr           int64
KitchenAbvGr           int64
TotRmsAbvGrd           int64
Fireplaces             int64
GarageYrBlt          float64
GarageCars             int64
GarageArea             int64
WoodDeckSF             int64
OpenPorchSF            int64
                      ...
Condition1_cat          int8
Condition2_cat          int8
BldgType_cat            int8
HouseStyle_cat          int8
RoofStyle_cat           int8
RoofMatl_cat            int8
Exterior1st_cat         int8
Exterior2nd_cat         int8
MasVnrType_cat          int8
ExterQual_cat           int8
ExterCond_cat           int8
Foundation_cat          int8
BsmtQual_cat            int8
BsmtCond_cat            int8
BsmtExposure_cat        int8
BsmtFinType1_cat        int8
BsmtFinType2_cat        int8
Heating_cat             int8
HeatingQC_cat           int8
CentralAir_cat          int8
Electrical_cat          int8
KitchenQual_cat         int8
Functional_cat          int8
GarageType_cat          int8
GarageFinish_cat        int8
GarageQual_cat          int8
GarageCond_cat          int8
PavedDrive_cat          int8
SaleType_cat            int8
SaleCondition_cat       int8
Length: 76, dtype: object

In [13]:
train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,Electrical_cat,KitchenQual_cat,Functional_cat,GarageType_cat,GarageFinish_cat,GarageQual_cat,GarageCond_cat,PavedDrive_cat,SaleType_cat,SaleCondition_cat
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,5,2,6,2,2,5,5,2,8,4
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,5,3,6,2,2,5,5,2,8,4
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,5,2,6,2,2,5,5,2,8,4
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,5,2,6,6,3,5,5,2,8,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,5,2,6,2,2,5,5,2,8,4

In [15]:
y = train['SalePrice']

In [16]:
X = train.drop(['SalePrice'], axis=1)

# Fitting the Model

In [17]:
# spiltting the datasets
X_train, X_test,y_train,y_test = train_test_split(X,y)

In [18]:
# Fitting Decision tree Model

model = DecisionTreeRegressor()
model.fit(X_train,y_train)
print('Model Score : ',model.score(X_test,y_test))

Model Score :  0.6948239136000967

In [19]:
pr_t1=model.predict(X_train)     # stroing Predition on Training Set
pr_tt1 = model.predict(X_test)   # stroing Predition on Testing Set
pr_ttt1 = model.predict(test)    # stroing Predition on Test Set
pr_tttt1 = model.predict(X)      # stroing Predition on Train Set

In [21]:
# Fitting Linear Regression

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
#predictions = lm.predict(X)
print('Model Score:',lm.score(X_test,y_test))

Model Score: 0.6739018453041974

In [22]:
pr_t2=model.predict(X_train)     # stroing Predition on Training Set
pr_tt2 = model.predict(X_test)    # stroing Predition on Testing Set
pr_ttt2 = model.predict(test)    # stroing Predition on Test Set
pr_tttt2 = model.predict(X)      # stroing Predition on Train Set

In [23]:
#Fitting Elstic Net

regr = ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=0.6,
      max_iter=10000, normalize=False, positive=False, precompute=False,
      random_state=0, selection='cyclic', tol=0.0001, warm_start=False)
regr.fit(X_train, y_train)
print('model score',regr.score(X_test,y_test))

model score 0.6754483107370267

C:\Users\Nitesh Sukhwani\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [24]:
pr_t3=regr.predict(X_train)      # stroing Predition on Training Set
pr_tt3 = regr.predict(X_test)    # stroing Predition on Testing Set
pr_ttt3 = model.predict(test)    # stroing Predition on Test Set  
pr_tttt3 = model.predict(X)      # stroing Predition on Train Set

In [27]:
# Fitting Ada boost Regressor

model = AdaBoostRegressor(learning_rate=0.7,n_estimators=130)
model.fit(X_train,y_train)
print('Model Score',model.score(X_test,y_test))

Model Score 0.7839695703725442

In [28]:
pr_t4=model.predict(X_train)    # stroing Predition on Training Set
pr_tt4 = model.predict(X_test)   # stroing Predition on Testing Set
pr_ttt4 = model.predict(test)   # stroing Predition on Test Set
pr_tttt4 = model.predict(X)     # stroing Predition on Train Set

In [31]:
# fitiing MLP regressor

model =MLPRegressor(hidden_layer_sizes=60)
model.fit(X_train,y_train)
print('Model Score',model.score(X_test,y_test))

Model Score 0.5493407246930582

C:\Users\Nitesh Sukhwani\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [32]:
pr_t5=model.predict(X_train)     # stroing Predition on Training Set
pr_tt5 = model.predict(X_test)    # stroing Predition on Testing Set
pr_ttt5 = model.predict(test)    # stroing Predition on Test Set
pr_tttt5 = model.predict(X)      # stroing Predition on Train Set

In [29]:
#Tuning Gradient Boosting Regressor

for i in range(1,15):
    j = i*20
    model = GradientBoostingRegressor(learning_rate=0.12,n_estimators=j)
    model.fit(X_train,y_train)
    pred_test = model.predict(X_test)
    print(j,np.sqrt(np.sum((pred_test-y_test)**2)),model.score(X_test,y_test))

20 611741.0809544686 0.8358791710992499
40 546043.7909979254 0.8692374576593448
60 540096.1505642765 0.8720705380580038
80 535406.1508680417 0.8742826778507152
100 525688.7576982148 0.8788046971853565
120 518030.3791224657 0.8823101884305097
140 516816.3045173319 0.8828611861440641
160 510057.86870132876 0.8859048159905669
180 516651.11663719063 0.8829360553763518
200 538876.7247922025 0.8726475626276871
220 501056.1671840331 0.8898964724503096
240 514603.9567835931 0.883861917384626
260 499460.8885004111 0.8905964586338817
280 490552.8237110241 0.8944641604671426

In [33]:
# fitting GradientBoosting Regressor

model = GradientBoostingRegressor(learning_rate=0.12,n_estimators=120,max_depth=3)
model.fit(X_train,y_train)
pred_test = model.predict(X_test)
print(np.sqrt(np.sum((pred_test-y_test)**2)),model.score(X_test,y_test))

518865.7913112808 0.8819302926347428

In [34]:
pr_t6=model.predict(X_train)    # stroing Predition on Training Set
pr_tt6 = model.predict(X_test)   # stroing Predition on Testing Set
pr_ttt6 = model.predict(test)   # stroing Predition on Test DataSet
pr_tttt6 = model.predict(X)    # stroing Predition on Train DAtaSet

In [35]:
# Combining All The Predition from different estimators 
# Into A single DataFrame

#  t = Prediction on X_train
#  tt = Prediction on X_test
#  ttt = Prediction on test
#  tttt = Prediction on train


t = pd.DataFrame(pr_t2)
t.insert(loc=0,column='pred3',value=pr_t3)
t.insert(loc=0,column='pred4',value=pr_t4)
t.insert(loc=0,column='pred5',value=pr_t5)
t.insert(loc=0,column='pred6',value=pr_t6)
print(t.head())


tt = pd.DataFrame(pr_tt2)
tt.insert(loc=0,column='pred3',value=pr_tt3)
tt.insert(loc=0,column='pred4',value=pr_tt4)
tt.insert(loc=0,column='pred5',value=pr_tt5)
tt.insert(loc=0,column='pred6',value=pr_tt6)
print(tt.head())

ttt = pd.DataFrame(pr_ttt2)
ttt.insert(loc=0,column='pred3',value=pr_ttt3)
ttt.insert(loc=0,column='pred4',value=pr_ttt4)
ttt.insert(loc=0,column='pred5',value=pr_ttt5)
ttt.insert(loc=0,column='pred6',value=pr_ttt6)
print(ttt.head())

tttt = pd.DataFrame(pr_tttt2)
tttt.insert(loc=0,column='pred3',value=pr_tttt3)
tttt.insert(loc=0,column='pred4',value=pr_tttt4)
tttt.insert(loc=0,column='pred5',value=pr_tttt5)
tttt.insert(loc=0,column='pred6',value=pr_tttt6)
tttt.head()

           pred6          pred5          pred4          pred3              0
0  122908.499090  159273.659796  121661.613636  104200.387696  104455.548549
1  213358.323758  194891.736700  206193.149068  218578.405492  216829.014507
2   64788.480937  100540.893819  115785.681818   44194.169834   45192.940922
3  390278.802853  243997.583015  445914.787682  345216.481192  350659.441152
4  101206.504555  146626.203510  115785.681818   95194.173595   95230.294574
           pred6          pred5          pred4          pred3              0
0  264290.021445  296885.512559  245399.170635  321626.116025  320859.656192
1  134457.963627  164080.131727  130678.467153  133026.239409  133722.717976
2  256006.731535  209080.916523  306292.672489  247110.272051  248129.955949
3  175898.158898  177379.539084  184481.168831  179365.700284  178666.896008
4  266871.554477  221048.284459  274134.647482  259142.580640  258465.536554
           pred6          pred5          pred4          pred3              0
0  130124.111575  157013.217640  118458.834951   85687.474992   85687.474992
1  156826.750577  158616.092758  143209.848485  122026.281016  122026.281016
2  177892.142716  191953.741963  173658.520599  144176.926756  144176.926756
3  178709.173406  191114.003476  189852.216346  152805.216988  152805.216988
4  195613.399854  177567.197924  230517.812155  152132.589864  152132.589864

           pred6          pred5          pred4          pred3              0
0  206794.614392  189086.541287  204167.443299  215256.832143  215256.832143
1  174060.001698  181964.636206  151209.278607  200485.882825  200485.882825
2  213358.323758  194891.736700  206193.149068  216829.014507  216829.014507
3  151715.346700  173126.552657  171729.262626  149091.116365  149091.116365
4  273337.847932  239633.312385  294597.461039  281673.196792  281673.196792

In [36]:
# Applying Standard Scaling to new Dataframes

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(t)
t = pd.DataFrame(scaler.transform(t))
print(t.head())

scaler = StandardScaler()
scaler.fit(tt)
tt = pd.DataFrame(scaler.transform(tt))
print(tt.head())

scaler = StandardScaler()
scaler.fit(ttt)
ttt = pd.DataFrame(scaler.transform(ttt))
print(ttt.head())

scaler = StandardScaler()
scaler.fit(tttt)
tttt = pd.DataFrame(scaler.transform(tttt))
tttt.head()

          0         1         2         3         4
0 -0.746448 -0.565189 -0.858966 -1.034246 -1.025251
1  0.418329  0.288503  0.259335  0.508606  0.482395
2 -1.494895 -1.972893 -0.936701 -1.843673 -1.820341
3  2.696640  1.465469  3.430708  2.216834  2.277916
4 -1.025918 -0.868323 -0.936701 -1.155731 -1.149020
          0         1         2         3         4
0  1.084021  2.292329  0.780819  1.660803  1.639136
1 -0.609955 -0.405930 -0.766566 -0.581670 -0.572265
2  0.975945  0.508369  1.602168  0.774802  0.779688
3 -0.069266 -0.135720 -0.040860 -0.030688 -0.041159
4  1.117703  0.751515  1.168412  0.917867  0.901823
          0         1         2         3         4
0 -0.602049 -0.656282 -0.896034 -0.760325 -0.760325
1 -0.251464 -0.617422 -0.554950 -0.282574 -0.282574
2  0.025109  0.190797 -0.135347  0.008644  0.008644
3  0.035836  0.170439  0.087812  0.122081  0.122081
4  0.257776 -0.157982  0.648210  0.113238  0.113238

          0         1         2         3         4
0  0.333810  0.135649  0.230588  0.441343  0.441343
1 -0.089102 -0.027248 -0.473360  0.249968  0.249968
2  0.418609  0.268429  0.257515  0.461712  0.461712
3 -0.377782 -0.229398 -0.200598 -0.415910 -0.415910
4  1.193510  1.291788  1.432632  1.301844  1.301844

In [39]:
# fitting Elastic net To new Dataframe Created

regr = ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=0.6,
  max_iter=10000, normalize=False, positive=False, precompute=False,
  random_state=0, selection='cyclic', tol=0.000001, warm_start=False)
regr.fit(t,y_train)
pred_test = regr.predict(tt)
print(j,np.sqrt(np.sum((pred_test-y_test)**2)),regr.score(tt,y_test))

280 541910.4327295164 0.8712096173702024

In [40]:
# fitting Gradient Boosting To new Dataframe Created

model = GradientBoostingRegressor(learning_rate=0.12,n_estimators=120,max_depth=3)
model.fit(tttt,y)
pred_test = model.predict(tttt)
print(np.sqrt(np.sum((pred_test-y)**2)),model.score(tttt,y))

411282.34212473856 0.9816295836485944

# Creating Output File

In [41]:
pred = model.predict(ttt)   # making Predition

In [42]:
pred

array([136408.57677956, 163558.28438388, 182540.51023506, ...,
       159434.47296212, 114501.01206013, 235199.61672079])

In [43]:
p = test['Id']        # Making DataFrame with Test Id as a Column
p = pd.DataFrame(p)

In [44]:
p.insert(column='SalePrice', loc=1,value=pred)   # adding Our predition to the dataframe P

In [45]:
p.to_csv("output1.csv",index=False)     # converting Data Frame to Csv